mainDNAStructureInfo
gitPush.sh
calcEntropy
test/
samples/
main2/main2DNAStructureInfo
main2/testeds.eds
/ver/
/InfoEds/test
/InfoEds/HuffCoding/huffmanCoding
/InfoEds/HuffCoding/huffmanDecoding
/InfoEds/HuffCoding/compareFile
/InfoEds/runMaxsearch
/InfoEds/statRun
/InfoEds/decodeFile
/InfoEds/encodeFile
/InfoEds/dataset/
/PlottingEds/
/dataset/
